body{
    /* background-color: #dedede; */
    background-color: rgba(141, 140, 140, 0.5);
    font-family: 'Roboto', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    background-color: rgba(97, 137, 196, 0.5);
    margin-top: 20px;
    padding: 50px;
    height:92vh;
}

.form-control{
    background-color: rgb(238, 238, 238);
}
